<!-- Movie title will be place here. Probably wrapped in header tags. Will be able to display the title when information is parsed from OMDB API -->


<!-- This is the section for individual movie information. The parsed data should be able to be place into each li element once the response attributes are finalized.-->
<section class= "center", id="movie-info" style="margin-bottom:50px;">
  <div class="container" >
    <ul id="movie_title">
      <h2><%= @movie.Title %></h2>
      <li><%= @movie.Year %></li>
      <li class=""><%= @movie.Genre %></li>
    </ul>
  </div>
<div class="divider"></div>
  <div class="movie-card-container" style="display:inline-block;width:55%;">
    <img class="card-content" src="<%= @movie.Poster %>" >
    <div class="card-tabs">
      <ul class="tabs">
        <li class="tab"><a href="#cast">Cast</a></li>
        <li class="tab"><a href="#year">Year</a></li>
        <li class="tab"><a href="#country">Country</a></li>
        <li class="tab"><a href="#awards">Awards</a></li>
      </ul>
    </div>
    <div class="card-content">
      <ul id="cast">
        <li class=""><em>Director: </em><%= @movie.Director %></li>
        <li class=""><em>Writer: </em><%= @movie.Writer %></li>
        <li class=""><em>Actors: </em><%= @movie.Actors %></li>
      </ul>
      <ul id="year">
        <li class=""><em>Released: </em> <%= @movie.Year %></li>
        <li class=""><em>Released: </em> <%= @movie.Released %></li>
        <li class=""><em>Runtime: </em><%= @movie.Runtime %></li>
      </ul>
      <ul id="country">
        <li class=""><em>Language: </em><%= @movie.Language %></li>
        <li class=""><em>Country: </em><%= @movie.Country %></li>
      </ul>
      <ul id="awards">
        <li class=""><em>Awards: </em><%= @movie.Awards %></li>
        <li class=""><em>Year: </em><%= @movie.Year %></li>
        <li class=""><em>Metascore: </em><%= @movie.Metascore %></li>
        <li class=""><em>IMDB Rating: </em><%= @movie.imdbRating %></li>
        <li class=""><em>IMDB Votes: </em><%= @movie.imdbVotes %></li>
      </ul>
    </div>


    <div class="user-action-container" style="display:inline-block;float:left;vertical-align:top;margin-top:10%;">
      <section id="watch-list-form" style="display:inline-block;">
        <% if @errors %>
          <% @errors.each do |error| %>
            <%=error %>
            <% end %>
        <% end %>
        <% if logged_in? %>
          <%= form_tag("/movies/#{@movie.id}/watchlist", method: "post", :class => 'waves-effect waves-teal btn-flat') do %>
            <%= hidden_field_tag("user_id", current_user.id) %>
            <%= hidden_field_tag("movie_id", @movie.id) %>
            <%= submit_tag("Add movie to your watchlist") %>
          <% end %>
        <% else %>
        <%= "You need to be logged in to save movies to your watch list." %>
        <% end %>
      </section>
      <section id="like-movie-form" style="display:inline-block;">
        <% if logged_in? %>
          <%= form_tag("/movies/#{@movie.id}/like", method: "post", :class => 'waves-effect waves-teal btn-flat') do %>
            <%= submit_tag("&#128077;".html_safe) %>
          <% end %>
        <% end %>
        <h5 style="display:inline-block;">Likes : <%= @movie.likes.count %></h5>
      </section>
    </div>
  </div>

  <section id="related-movie-container container" style="display:inline-block;width:40%;vertical-align:top;">
    <div style="display:flex;flex-direction:row;justify-content:center;">
      <% if @related_movies %>
      <ul>
        <% @related_movies.each do |movie| %>
        <li style="display:inline-block;"><%= link_to image_tag(movie.Poster, size: '140x200'), movie %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    <div class="divider"></div>
  </section>


    <section id="conversations">
      <div style="text-align:center;">
<div class="container">

       <h3>Comments</h3>
  <%if @comments%>
    <% @comments.each do |comment|%>
      <p><%=comment.content%></p>
      <p><%=comment.user.name%></p>
      <p><%=comment.created_at.to_datetime.in_time_zone("Central Time (US & Canada)").strftime("%A, %d %b %Y")%></p>

      <% if comment.user_id == current_user.id %>
     <a href="/comments/<%=comment.id%>" class="btn-floating teal"><i class="material-icons">delete</i></a> <a href="/comments/<%=comment.id%>/edit" class="btn-floating teal"><i class="material-icons"> mode_edit</i></a>

    </div>

      <div class="comment-box">
        <ul class="collection with-header">

        <% if comment.conversations %>
         <% comment.conversations.each do |conversation|%>
        <li> <%=conversation.content%></li>
        <li>By: <%=conversation.user.name%> </li>
        <hr style="margin-left: 35%; margin-right: 35%;">
          <%end%>
        <%end%>
        </ul>
      </div>
      <% if logged_in? %>
        <div class="conversation-post-box">
        <%= form_for [comment, @conversation] do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :comment_id, value: comment.id %>
        <%= f.label "Conversation" %><br>
        <%= f.text_area :content %><br><br>
        <%= f.submit  "Respond to This Post" %><br><br>
          <%end%>
        <%end%>

      </div>

      <%end%>
    <%end%>
  <%end%>

<% if logged_in? %>
  <%= render '/error_messages' %>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :movie_id, value: @movie.id %>
    <!-- <%= f.label "PosComment" %> -->
    <%= f.text_area :content %><br>
    <%= f.submit  "Post New Comment" %>
  <%end%>
<% end %>

 </div>

</section>

<section id="related-movie-container">
  <% if @related_movies %>
  <ul>
    <% @related_movies.each do |movie| %>
    <li><%= link_to image_tag(movie.Poster), movie %></li>
    <% end %>
  </ul>
  <% end %>

      </div>
    </section>
  </div>

</section>
