
<<<<<<< HEAD
<h1> Hello, <%=@user.name%> ! </h1>

<section id="favorite-movies-container">
  <h3>Favorite Movies</h3>
    <% if @user.favorited_movies.empty? %>
      <p>This is where your favorite videos will go</p>
    <% else %>
      <% @user.favorited_movies.each do |movie| %>
        <li><%= link_to movie.Title, movie %></li>
      <% end %>
    <% end %>
</section>

<section id="watch-list-container">
  <h3>Watch List</h3>
    <p>This is where your watch list will go</p>
  <!-- <% if @user %>                               waiting for the watchlist
    <p>This is where your watch list will go</p>
  <% else %>
    <% @user.favorited_movies.each do |movie| %>
      <li><%= link_to movie.Title, movie %></li>
    <% end %>
  <% end %> -->
</section>
=======
<div class="row">
  <div class="col s12">
   <h2><%=@user.name%></h2>
  </div>

  <div class="col s6">
    <h3><%=@user.name%>'s Favorite Movies:</h3>
      <p>You have no Favorite movies yet :-{ </p>
  </div>

  <div class="col s6">
  <h3>Watch list</h3>
  <%if @watch_list%>
    <% @watch_lists.each do |movie|%>
      <p><%=movie.content %></p>
      <p><%=movie.user.name %></p>
      <p><%=movie.created_at.to_datetime.in_time_zone("Central Time (US & Canada)").strftime("%A, %d %b %Y") %></p>
      <% if movie.user_id == current_user.id %>
      <%= link_to 'Delete Movie from Watch List', watch_list_path(movie), method: :delete %>
     <% end %>
    <% end %>
  <% else %>
      <p>You have no Movies in Favorite List yet </p>
  <%end%>

  </div>

</div>
>>>>>>> 80870d31283053e976dc690106a73a4926f8d38d
